In [5]:
import pandas as pd

df=pd.DataFrame( [ [1,2,3],[4,5,6],[7,8,9] ] , columns=['A','B','C'] )

In [8]:
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
df.head(1)

   A  B  C
0  1  2  3

In [10]:
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [11]:
df.tail(1)

   A  B  C
2  7  8  9

In [12]:
df.tail(2)

   A  B  C
1  4  5  6
2  7  8  9

In [13]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.index.tolist()

[0, 1, 2]

In [16]:
dff= pd.DataFrame( [ [1,2,3],[4,5,6],[7,8,9] ] , columns=['A','B','C'] ,index=[ 'x','v','z'] )

In [19]:
dff

   A  B  C
x  1  2  3
v  4  5  6
z  7  8  9

In [21]:
dff.index

Index(['x', 'v', 'z'], dtype='object')

In [23]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [24]:
dff.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [25]:
dff.nunique()
# to see how many unique numbers in each columns

A    3
B    3
C    3
dtype: int64

In [26]:
dff['B'].unique()
# unique values in selected column

array([2, 5, 8])

In [27]:
dff.shape
# shape of our data frame  {rows, columns}

(3, 3)

In [34]:
dff.size

9

In [29]:
dfff= pd.DataFrame( [ [1,2,3],[4,5,6],[7,8,9],[10,11,12]] , columns=['A','B','C'] ,index=[ 'x','v','z','zz'] )

In [30]:
dfff

     A   B   C
x    1   2   3
v    4   5   6
z    7   8   9
zz  10  11  12

In [31]:
dfff.shape
#{rows,columns}

(4, 3)